<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/error404.css" >
  <link rel="stylesheet" href="/css/styles.css" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />  
  <link rel="icon" href="/img/Digital-Lips.svg">

  <title>La el producto ya no existe</title>

</head>
<body>

<nav>
</nav>

<main>
  <img src="./img/Digital-Lips.svg" alt="">

<h1> Acabas de eliminar el producto </h1>
<h4></h4>
<a href="/"><button>Volver al inicio</button></a>

</main>

<footer style="height: 90px;"></footer>
</body>
</html>