<footer>
    <div class="pie">
        <h2 id="seguinos">Seguinos</h2>
        <a href="https://www.instagram.com/"><img src="/img/instagram.svg" class="redes" alt="instagram"> </a>
        <a href="https://www.facebook.com/"><img src="/img/facebook.svg" class="redes" alt="instagram"> </a>
        <a href="https://twitter.com/home"><img src="/img/twitter.svg" class="redes" alt="instagram"> </a>
    </div>
    <div class="pie">
        <h2 class="foot">Acerca de</h2>
        <p> En Digital Pleasures, nuestra misión es despertar tus sentidos y llevarte a un viaje de exploración y
            satisfacción sexual. Somos una tienda en línea dedicada a ofrecer una experiencia única en la compra de
            productos y juguetes sexuales de alta calidad.</p>
    </div>
    <div class="pie">
        <h2>Ubicación</h2>
        <a href="https://www.google.com/maps/@-34.602548,-58.3860906,16.25z?authuser=0&entry=ttu">
            <img src="/img/mapa.png" alt="Ubicación" id="mapa"> </a>
    </div>

    </div>
</footer>