/* Estilos existentes */
body {
    font-family: "Kalam";
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  .container {
    
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(77,67,77,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(77,67,77,1);
  box-shadow: 0px 0px 10px 0px rgba(77,67,77,1);
  border-radius: 38px 38px 38px 38px;
  -moz-border-radius: 38px 38px 38px 38px;
  -webkit-border-radius: 38px 38px 38px 38px;
  border: 0px solid #000000;
 
}

  
  h1 {
    text-align: center;
    font-family: 'Kalam', cursive;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;}
  
  .boton {
    display: block;
  width: 100%;
  padding: 10px;
  background-color: #F564A9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  }
  
  input[type="date" i] {
  margin: 5px 0px 5px 0px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
label{
    margin: 4px;
}

main{
  margin-bottom: 120px;
}